
        <section id="details-page">
    <div class="main_card">
        <div class="card_left">
            <div class="card-details">

                <h1>Model: {{model}}</h1>
                <h3>Posted by: {{ownerName}}</h3>

                <div class="card-specs">
                    <p class="card-manufacturer">Manufacturer: {{manufacturer}}</p>
                    <p class="card-engine">Engine Type: {{engine}}</p>
                    <p class="card-top-speed">Top Speed: {{topspeed}}</p>
                </div>

                <p class="disc">
                    Description: {{description}}
                </p>
                 {{#if isAuthenticated}}
                <div class="social-btn">
                    {{#if isOwner}}
                        <a href="/cars/edit/{{_id}}" class="edit-btn">Edit</a>
                        <a href="/cars/delete/{{_id}}" class="del-btn">Delete</a>
                    {{else}}
                        {{#if isLiked}}
                            <p class="you-liked">Thanks For The Like</p>
                        {{else}}
                            <a href="/cars/details/{{_id}}/liked" class="like-btn">Like</a>
                        {{/if}}
                    {{/if}}
                </div>
                {{/if}}
            </div>
        </div>
        <div class="card_right">
            <img src="{{image}}" alt="Bugatti Chiron Super Sport 300+">
        </div>
    </div>
</section>

<section id="likes">
    <div class="like-info">
        <div class="card_left">
            <div class="card-details">
                <h1>Likes</h1>
                <div class="card-like">
                    <p class="PV">Total likes: {{likes.length}}</p>
                </div>
                {{#if likes.length}}
                
                    <p class="disc">People who liked the post - {{likesList}}</p>
                
                {{else}}
                <p class="disc">People who liked the post - No one has liked yet.</p>
                {{/if}}
            </div>
        </div>
    </div>
</section>

     